button {
  outline: none;
}

.Button {
  display: inline-block;
  position: relative;
  text-align: center;
  background: #ced0cf;
  border: none;
  font-size: 16px;
}
.Button__content {
  height: 100%;
  display: inline-flex;
  align-items: center;
}
.Button:not(.Button--flat):not(.Button--active) {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #050608;
  border-right: 2px solid #050608;
}
.Button:before {
  padding: 0;
  content: "";
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
.Button:not(.Button--flat):not(.Button--active):before {
  border-top: 2px solid #dfe0e3;
  border-left: 2px solid #dfe0e3;
  border-bottom: 2px solid #888c8f;
  border-right: 2px solid #888c8f;
}

.Button--m {
  height: 35px;
  padding: 0 10px;
}
.Button--m.Button--square {
  width: 35px;
}
.Button--s {
  height: 27px;
  padding: 0 8px;
}
.Button--s.Button--square {
  width: 27px;
}
.Button--l {
  height: 43px;
  padding: 0 16px;
}
.Button--l.Button--square {
  width: 43px;
}
.Button--xl {
  height: 51px;
  padding: 0 24px;
}
.Button--xl.Button--square {
  width: 51px;
}
.Button.Button--square {
  overflow: hidden;
  padding: 0;
}
.Button--disabled {
  color: gray;
  text-shadow: 1px 1px #fff;
  filter: grayscale(100%);
}
.Button--fullWidth {
  width: 100%;
}

.Button:not(.Button--disabled):not(.Button--flat):active,
.Button--active {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  border-top: 2px solid #050608;
  border-left: 2px solid #050608;
}
.Button:not(.Button--disabled):not(.Button--flat):active:before,
.Button--active:before {
  border-bottom: 2px solid #dfe0e3;
  border-right: 2px solid #dfe0e3;
  border-top: 2px solid #888c8f;
  border-left: 2px solid #888c8f;
}

.Button:not(.Button--disabled):active .Button__content,
.Button--active .Button__content {
  position: relative;
  top: 2px;
}
.Button__accent {
  position: relative;
}
.Button__accent:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom: 1px solid black;
}
.Button--disabled .Button__accent:before {
  border-color: gray;
}
.Button--disabled .Button__accent:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  bottom: -1px;
  left: 1px;
  border-bottom: 1px solid white;
}
