.Cutout {
  position: relative;
  /* margin-bottom: 1em; */
  border-bottom: 2px solid #dfe0e3;
  border-right: 2px solid #dfe0e3;
  border-top: 2px solid #050608;
  border-left: 2px solid #050608;
}
.Cutout:before {
  content: "";
  position: absolute;
  right: -4px;
  top: -4px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  border-left: 2px solid #888c8f;
  border-top: 2px solid #888c8f;
  pointer-events: none;
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.Cutout.Cutout--noShadow:before {
  box-shadow: none;
}
