version: 2
jobs:
  build:
    docker:
      - image: 'circleci/node:latest'
    steps:
      - checkout
      - run:
          name: install
          command: npm install
      - run:
          name: 'build React95'
          command: npm run build
      - run:
          name: release
          command: npm run semantic-release || true
