.Material {
  position: relative;
  display: inline-block;

  background: #bdbebd;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #050608;
  border-right: 2px solid #050608;
}

.Material:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);

  border-top: 2px solid #dfe0e3;
  border-left: 2px solid #dfe0e3;
  border-bottom: 2px solid #888c8f;
  border-right: 2px solid #888c8f;
}

.Material.Material--hollow {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  border-top: 2px solid #050608;
  border-left: 2px solid #050608;
}
.Material.Material--hollow:before {
  border-bottom: 2px solid #dfe0e3;
  border-right: 2px solid #dfe0e3;
  border-top: 2px solid #888c8f;
  border-left: 2px solid #888c8f;
}
