.Progress {
  position: relative;
  width: 100%;
  background: #fff;
}

.Progress__bar {
  height: 28px;
  background: #000080;

  /* 💖 super kolory niżej */
  /* mix-blend-mode: difference; */
  /* mix-blend-mode: hard-light; */
  /* rgba(241,255,132) */
  /* rgba(28,0,246) */
  /* rgba(142,252,255) */
  /* rgba(184,129,127) */
}

.Progress__value {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;

  mix-blend-mode: difference;
}
