.SelectItem {
  height: 26px;
  line-height: 26px;
  font-size: 1em;
  width: 100%;
  /* display: inline-block; */
  padding-left: 0.5em;
  padding-right: 38px;
  white-space: nowrap;
}

.SelectItem:hover {
  background: #000080;
  color: #fff;
}
