.TextField-wrapper {
  display: inline-block;
  font-size: 1em;
  height: 30px;
  width: 100%;
  background: #fff;
  white-space: nowrap;
}
.TextField {
  height: 100%;
  width: 100%;
  padding: 0 0.5em;
  font-size: 1em;
  line-height: 1em;
  border: none;
  outline: none;
}

.TextField--disabled {
  background: #ced0cf;
  color: gray;
  text-shadow: 1px 1px #fff;
  filter: grayscale(100%);
  pointer-events: none;
}
