.Chip {
  display: inline-block;
  height: 2em;
  border-radius: 1em;
  padding: 0 1em;
  padding-right: 3em;
  line-height: calc(2em - 4px);
  /* background: #000080; */
  /* background: #f1ff84; */
  /* background: #1C00F6; */
  /* background: #8EFCFF; */
  /* background:#B8817F; */
  /* background:#D81E5B; */
  color: #000;
  text-transform: uppercase;
  /* background: #b96ac9;
  border-top: 4px solid #e980fc;
  border-left: 4px solid #e980fc;
  border-bottom: 4px solid #6f2dbd;
  border-right: 4px solid #6f2dbd;
  box-shadow: 2px 2px 10px 0 #6f2dbd; */
  color: #fff;
  background: #2667ff;
  border-top: 4px solid #3f8efc;
  border-left: 4px solid #3f8efc;
  border-bottom: 4px solid #1c00f6;
  border-right: 4px solid #1c00f6;
  box-shadow: 2px 2px 10px 0 #1c00f6;
}
.Chip-content {
}
