.Table-wrapper {
  position: relative;
  /* overflow: hidden; */
  background: #fff;
}

.Table {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  /* table-layout: fixed; */
}
