.NumberField {
  display: flex;
}
.NumberField-buttons {
  height: 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 2px;
  margin-top: -2px;
}
.NumberField-button {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 100%;
  top: 0;
  right: 0;
  text-align: center;
  background: #ced0cf;
  /* border-top: 2px solid #fff;
  border-left: 2px solid #fff; */
  border-bottom: 2px solid #050608;
  border-right: 2px solid #050608;
  border-top: 2px solid #dfe0e3;
  border-left: 2px solid #dfe0e3;
  font-weight: normal;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.NumberField-button:before {
  padding: 0;
  content: "";
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);

  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #888c8f;
  border-right: 2px solid #888c8f;
}
.NumberField-button:not(.NumberField-button--disabled):active {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  border-top: 2px solid #050608;
  border-left: 2px solid #050608;
}
.NumberField-button:not(.NumberField-button--disabled):active:before {
  border-bottom: 2px solid #dfe0e3;
  border-right: 2px solid #dfe0e3;
  border-top: 2px solid #888c8f;
  border-left: 2px solid #888c8f;
}

.NumberField-button:not(.NumberField-button--disabled):active
  .NumberField-button__icon {
  /* position: relative; */
  top: calc(50% + 1px);
}

.NumberField-button__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  display: inline-block;
  border-top: 4px solid #050608;
}

.NumberField-button__icon--up {
  border-bottom: 4px solid #050608;
  border-top: none;
}
