.Tab {
  display: inline-block;
  position: relative;
  margin-bottom: -8px;
  height: 38px;
  line-height: 32px;
  padding: 0 1em;
  background: #ced0cf;

  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #050608;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.Tab:before {
  padding: 0;
  content: "";
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: calc(100% - 4px);
  height: 100%;

  border-top: 2px solid #dfe0e3;
  border-left: 2px solid #dfe0e3;
  border-right: 2px solid #888c8f;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.Tab.Tab--active {
  top: -4px;
  z-index: 1;
  margin-right: -4px;
  margin-left: -4px;
  border-bottom: 4px solid #ced0cf;
}
.Tab.Tab--active:before {
}
.Tab.Tab--active.Tab--first {
  padding-left: calc(1em - 4px);
  margin-left: 0;
}
.Tab.Tab--active.Tab--last {
  padding-right: calc(1em - 4px);
  margin-right: 0;
}
.Tab.Tab--active:after {
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  bottom: -4px;
  right: -6px;

  border-bottom: 2px solid #dfe0e3;
  border-left: 2px solid #888c8f;
  border-bottom-left-radius: 4px;
}
